<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="js/csv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>Hello, welcome to the contester</h1>
        <p>Please follow the following steps in order to download all the information</p>
      </div>

      <div id="contester">
        <div class="panel panel-default">
          <div class="panel-heading">Step 1:</div>
          <div class="panel-body">
            <button v-on:click="loginFacebook()" class="btn btn-default">Grant access to facebook</button>
            <p class="help-block">Don't worry, we won't do anything funny with it</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Step 2:</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="url">Facebook post url: </label>
              <input v-model="url" placeholder= "Your facebook url here" class="form-control">
              <p class="help-block">Your url should look like:
                <ul>
                  <li>https://www.facebook.com/PAGE_NAME/posts/PAGE_ID</li>
                  <li>https://www.facebook.com/PAGE_NAME/videos/VIDEO_ID</li>
                  <li>https://www.facebook.com/PAGE_NAME/photos/some_random_alpha_numeric_stuff/PHOTO_ID/some_random_query_string</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Step 3:</div>
          <div class="panel-body">

            <div class="progress" v-if="progress">
              <div class="progress-bar" role="progressbar" v-bind:aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: progress + '%' }">
                {{ progress_message }}
              </div>
            </div>

            <button v-on:click="downloadLikes()" class="btn btn-default" v-bind:disabled="progress != 0">Download likes data</button>
            OR
            <button v-on:click="downloadComments()" class="btn btn-default" v-bind:disabled="progress != 0">Download comments data</button>

          </div>
        </div>

      </div>
    </div>

    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/facebook.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
